* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d6ebe1;
    line-height: 1.6;
}

main {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(47, 95, 77, 0.49);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Lora", serif;
    /* font-family: "Plus Jakarta Sans", sans-serif; */
    color: rgb(49, 95, 6);
}

#login {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #d0d1d0;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(99, 216, 84);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.025em;
}

button:hover {
    background-color: #09b300;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: rgb(252, 46, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cor {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#resultado {
    display: none;
    margin: 10px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid #454141;
    border-radius: 5px;
}

.cca {
    background-color: rgb(99, 216, 84);
    
}

.cca:hover {
    background-color: rgb(35, 247, 7);
}

.sair {
    background-color: rgb(234, 70, 28);
    margin: 10px auto;
}

.sair:hover {
    background-color: rgb(252, 1, 1);
}

#valor, #moedasOrigem, #moedasDestino {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
img{
    
}